*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-greylight: #C5C5C5;
	--basic-light: #F1F5F7;
	--basic-lightgrey: #F2F6F8;
	--basic-white: #FFFFFF;
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-fuchsia: #DC91D8;
	--special-grey: #293449;
	--special-greylight: #32425C;
	--special-grey2:  #A9A9A9;
	--special-grey3:  #212A3A;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-orangelight: #FFC047;
	--special-grey90: #E5E5E5;
	--special-brightgray: #EAEAEA;
	--special-biege: #F9F5F0;
	--basic-black: #000000;
	--complete: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
 }
 
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Regular', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
	color: var(--basic-white);
}

img {
	max-width: 100%;
	height: auto;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-bar {
	background-color: var(--special-grey);
}

.logo-in-header, .logo-in-footer{
	width: 220px;
	height: 42px;
	background-color: var(--basic-red);
	box-shadow: 0px 5px 0 0 var(--error);
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 61px;
	padding-right: 51px;
}

.logo-in-footer {
	display: inline-block;
	height: 63px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 41px;
	padding-right: 41px;	
}

.logo-in-footer img {
	width: 138px;
	height: 23px;
}

.form-search {
  position: relative;
}

.search-field {
  width: 270px;
  border: none;
  outline: none;
  padding-left: 49px;
}

.search-field-svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-field-svg path {
  opacity: 0.3;
}

.buttom-header-bookmarks,
.buttom-header-basket {
  padding-top: 12px;
  padding-bottom: 12px;
}

.search-field,
.buttom-header-bookmarks, 
.buttom-header-basket {
  min-height: 42px;
  background-color: var(--special-grey);
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
}

.buttom-header-bookmarks, 
.buttom-header-basket {
	position: relative;
	padding-left: 44px;
}

.buttom-header-basket {
	padding-left: 49px;
}

.buttom-header-bookmarks::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.buttom-header-basket::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.buttom-header-bookmarks:hover,
.buttom-header-basket:hover {
	background-color: #161d29;
}

.buttom-header-order:hover,
.button-goods-buy:hover {
	background-color: #5fbb2d;
}

.buttom-header-bookmarks:hover::before,
.buttom-header-basket:hover::before,
.button-goods-buy:hover::before {
	opacity: 1;
}

.button-goods-buy:active {
	background: #518534;
}

.button-goods-bookmarks:hover {
	border: solid 3px var(--special-greylight);
}

.search-field:hover+.search-field-svg path {
  opacity: 1;
}

.search-field:focus {
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.search-field:focus+.search-field-svg path {
  fill: var(--basic-red);
  opacity: 1;
}


.buttom-header-bookmarks:active,
.buttom-header-basket:active,
.buttom-header-order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.buttom-header-bookmarks:active::before,
.buttom-header-basket:active::before {
  opacity: 0.5;
}


.buttom-header-order:active {
  background-color: #518534;
}

.logo-in-header:hover,
.logo-in-footer:hover {
	opacity: 0.5;
}

.header-content {
	background-color: var(--basic-lightgrey);
}

.buttom-header-order {
	margin-left: 20px;
	width: 150px;
	min-height: 42px;
	text-align: center;
	background-color: var(--basic-green);
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 19px;
	padding-right: 16px;
}

.text-in-header {
	font-style: italic;
	font-size: 16px;
	color: var(--basic-red);	
}

.contacts-in-header {
	width: 270px;
	height: 72px;
	color: var(--special-greylight);
	font-size: 14px;
	text-align: center;
}

.contact-phone-wrap {
	box-sizing: border-box;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 270px;
	border: 3px solid var(--basic-white);
	font-style: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 40px 10px;
}

.contact-phone {
	margin-left: 15px;
}


.user-entry,
.user-registration {
	display: inline-block;
	
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding-top: 12px;
	padding-bottom: 12px;
}

.user-entry a{
	color: var(--basic-black);
}

.user-entry {
	position: relative;
	padding-left: 20px;
	padding-right: 27px;
	margin-right: 10px;
}

.user-entry svg {
	margin-right: 6px;
}

.user-entry:hover,
.user-registration:hover, 
.account-nav a:hover,
.account-nav li:hover {
	color: var(--basic-red);
}

.user-entry:hover path,
.account:hover path {
	fill: var(--special-grey);
}

.user-entry:active,
.user-registration:active,
.account:active a {
	color: var(--basic-greylight);
} 

.user-entry:active path, 
.account:active path{
	fill: var(--basic-greylight);
}

.user-registration{
	padding-left: 24px;
	padding-right: 24px;
}

/*main navigation*/

.main-navigation, .nav-in-footer, .additional-nav, .social-networks {
	list-style: none;
}

.main-navigation {
	width: 940px;
	min-height: 60px;
	background-color: var(--special-grey);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
}

.main-navigation li {
	font-size: 18px;
	line-height: 24px;
	padding-top: 16px;
	padding-bottom: 20px;
	flex-grow:1 ;
	display: flex;
	justify-content: center;
}

.main-navigation a {
	display: block;
	margin: auto;
}

.main-navigation li:hover,
.main-navigation li:focus {
	background-color: var(--special-grey3);
}

.main-navigation li:active {
	opacity: 0.3;
}


.additional-nav a{
	color: var(--special-yellowlight);
}

.nav-in-footer li:hover a{
	border-bottom: 1px solid var(--basic-white);
}

.additional-nav li:hover a,
.authors:hover{
	border-bottom: 1px solid var(--special-yellowlight);
}

.nav-in-footer li:active a{
	border-bottom: none;
	opacity: 0.3;
}

.additional-nav li:active a{
	border-bottom: none;
	opacity: 0.3;
}

.authors:active {
	border-bottom: none;
	color: var(--basic-red);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: var(--special-grey3);
  color: inherit;
  border-radius: 50%;
}

.social-button:hover {
	background-color: var(--basic-red);
}

.account {
	display: inline-block;
	position: relative;
	font-size: 21px;
	line-height: 21px;
	background-color: var(--basic-white);
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 57px;
	padding-right: 57px;
}

.account-name-svg {
	position: absolute;
	left: 15px;
}

.account-exit-svg {
	position: absolute;
	right: 15px;
}

.account a {
	color: var(--basic-black);
}

.account-nav, .account-nav a {
	color: var(--special-greylight);
}

.account-nav li:nth-child(1) {
	list-style: none;
}

.write-us {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	border: none;
	text-decoration: none;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-red);
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 60px;
	padding-right: 60px;
}

footer {
	background-color: var(--special-greylight);
}

.footer-content {
	background-color: var(--special-grey);
}

.authors {
	color: var(--special-yellowlight);
}



.nav-list {
	list-style-type: '>';
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.nav-list a {
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.nav-list li:nth-child(1) {
	list-style: none;
}

.to-main{
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;
	left: 0px;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.main-heading {
	width: 940px;
	background-color: var(--basic-lightgrey); 
	color: var(--special-greylight);
	padding-top: 29px;
	padding-bottom: 30px;
	padding-left: 29px;
}

.category-item, .discount-item {
	margin: 10px;
	width: 300px;
	min-height: 123px;
	font-family: Cuprum;
	font-style: normal;
	color: var(--basic-white);
	padding-bottom: 20px;
	padding-left: 23px;
}

.category-1 {
	background-color: var(--special-yellow); 
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.category-2 {
	background-color: var(--special-blue); 
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 194px 34px;
}

.category-3 {
	background-color: var(--special-fuchsia);
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.discount-1 {
	background-color: var(--special-greenlight);
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 27px;
}

.discount-2 {
	background-color: var(--special-orangelight);
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.category-item h3, .discount-item h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	padding-top: 20px;
}

.category-item a, .discount-item a{
	display: inline-block;
	width: 130px;
	height: 38px;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	
}

.category-list a:hover,
.discount-item a:hover {
	background-color: rgba(197, 197, 197, 0.3);
}

.category-list a:active,
.discount-item a:active {
	background-color: rgba(131, 131, 131, 0.4);
}


/* Button */



.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
}

/* Gallery */

.gallery {
  width: 620px;
}

.gallery-content {
	width: 620px;
	height: 266px;
	
}

.image-1 {
	background-image: url("../img/perforator.jpg");
}

.image-2 {
	background-image: url("../img/drill.jpg");
}


.buttom-open-catalog {
	position: absolute;
	left: 24px;
	bottom: 27px;
}

.gallery-container {
  position: relative;  
  width: 620px;
  height: 266px;
 
}

.gallery-container h3 {
	position: absolute;
}

.gallery-button span{
	visibility: hidden;
}

.gallery-button-back {
	position: absolute;
	top: 123px;
	left: 25px;
}

.gallery-button-next {
	position: absolute;
	top: 123px;
	right: 25px;
}

.gallery-button-back,
.gallery-button-next {
	cursor: pointer;
	width:21px;
	height: 40px;	
	background-image: url("../img/button-back.svg");
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	outline: none;
	border: none;
}


.gallery-button-next {
	background-image: url("../img/button-next.svg");
}

.brand-item {
	display: flex;
	width: 220px;
	height: 145px;
	margin: 20px;
	border: 1px solid var(--special-brightgray);
	justify-content: center;
	align-items: center;
}

.brand-item:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.brand-item:active {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.5;
}

/*Стилизация слайдера*/
.slider-controls {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slider-controls::after {
	content: "";
	position: absolute;
	top: -50px;
	left: 230px;
	width: 10px;
	height: 280px;
	background-image: url("../img/line-shadow.svg");
	background-repeat: no-repeat;
}

.slider-controls button {
	border: none;
	box-shadow: 0px 1px 0px var(--special-grey), inset 0px 1px 0px #405069;
	text-align: left;
	width: 240px;
	padding-top: 14px;
	padding-bottom: 17px;
	padding-left: 22px;
	font-family: Cuprum;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-white);
	background-color: var(--special-greylight);
}

.slider-controls .current {
	box-shadow: none;
	background-color: var(--basic-white);
	color: var(--special-greylight);
}

.service h2, 
.slider-list h3, 
.about-company-title, 
.how-find-us {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service p, .slider-list p, .about-company p, .perforators-sort p{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls button:hover:not(.current) {
	background-color: var(--special-grey);
}

.cooperating-list li{
	position: relative;
	padding-left: 37px;
	
}

.cooperating-list li:before {
	content: "";
	position: absolute;
	top: 11px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-image: url("../img/company-list-marker.svg");
	background-repeat: no-repeat;
}

.button-filter-submit {
	font-family: PT Sans;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	width: 140px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: var(--basic-white);
	border: solid 1px var(--special-grey90);;
}

.popular-products header, 
.popular-brands header {
	width: 940px;
	background-color: var(--special-biege);
	font-size: 30px;
	line-height: 30px;
	color: var(--special-grey);
	text-transform: uppercase;
}

.popular-products header a, 
.popular-brands header a,
.buttom-open-catalog,
.more-details {
	display: inline-block;
	width: 192px;
	height: 38px;
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 11px;
}

.popular-products a:active,
.buttom-all-brands:active, 
.more-details:active,
.write-us:active,
.buttom-open-catalog:active {
	background-color: var(--error);
}

.write-us:active {
	  outline: none;
}

.more-details {
	width: 220px;
	text-transform: uppercase;
	margin-top: 20px;
}

.map {
	margin-top: 32px;
	margin-bottom: 25px;
}

.perforators-sort {
	width: 700px;
	background-color: #f7f3ec;
	padding-top: 9px;
	padding-bottom: 14px;
	border-radius: 3px;
}

.perforators-sort p,
.perforators-sort a {
	text-transform: uppercase;
}

.perforators-sort a {
	color: var(--basic-greylight);
	border-bottom: 2px dotted var(--basic-red);
}

.sort-item-activ a{
	color: var(--basic-red);
	border: none;
}

.sort-item:hover:not(.sort-item-activ) a{
	color: var(--basic-black);
}

.button-sort-increase,
.button-sort-decrease {
	position: relative;

}

.button-sort-decrease::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 0px; bottom: -14px; /* Положение треугольника */
    border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 11px solid rgba(0, 0, 0, 0.3);
 }
 
.button-sort-increase::after {
	content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 32px; bottom: -14px; /* Положение треугольника */
    border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 11px solid rgba(0, 0, 0, 0.3);
 }
 
.button-sort-activ+.button-sort-decrease::after {
	border-bottom-color: var(--basic-red);
}

.button-sort-activ+.button-sort-increase::after {
	border-top-color: var(--basic-red);
}

.product-item {
	width: 220px;
	min-height: 318px;
	background-color: var(--basic-white);
	border: 2px solid var(--special-brightgray);
}

.product-name-wrapper {
	text-align: center;
}

.product-name {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	width: 160px;
	text-align: center;
	color: var(--basic-black);
}

.old-price,
.new-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.old-price {
  color: var(--special-grey2);
  text-align: center;
  text-decoration: line-through;
}

.new-price {
  position: relative;
  margin: 0;
  width: 122px;
  border-radius: 3px 0 0 3px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px; 
}

.new-price::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-left: 19px solid var(--basic-red);
	border-bottom: 19px solid transparent;
	left: 122px;
	top: 0;
}

.model-item-finalize {
	display: none;
	
}

 
.product-item:hover  {
	border: none;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-item:hover .model-item-finalize {
	display: block;
}

.product-item {
	display: flex;
	flex-direction: column;
}
.model-item-finalize {
	position: absolute;
	width: 218px;
	min-height: 164px;
	background-color: #ffffff;
	align-self: flex-start;
}

.button-goods-buy,
.button-goods-bookmarks {
	display: block;
	margin: 0 auto;
}

.button-goods-buy,
.button-goods-bookmarks {
	width: 135px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.button-goods-buy {
	margin-top: 49px;
	background-color: #63a63e;
	-webkit-box-shadow: inset 0px -3px 0 0 #367315;
	box-shadow: inset 0px -3px 0 0 #367315;
	color: #ffffff;
	padding-left: 49px;
}

.button-goods-bookmarks {
	color: var(--special-grey);
	margin-top: 7px;
	border: solid 3px #63a63e;
	padding-left: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.button-goods-buy,
.button-goods-bookmarks {
	padding-top: 10px;
	padding-bottom: 10px;
}

.filter-price {
	margin: 0;
	padding: 0;
	border: none; 
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-price legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
	font-family: inherit;
	font-size: inherit;
}

.price-controls .max-price input {
	width: 90px;
}



.filter-maker,
.filter-power {
  border: none;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.filter-maker-list,
.filter-power-list {
  margin-top: 13px;
}

.filter-maker-item,
.filter-power-item {
  padding-left: 34px;
  margin-bottom: 20px;
}

.filter-maker {
  margin-bottom: 20px;
}

.filter-power {
  margin-bottom: 61px;
}

.filter-maker-checkbox+label::before,
.filter-power-radio+label::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	left: 0px;
	opacity: 0.3;
}

.filter-maker-checkbox+label::before {
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	opacity: 0.5;
}

.checkbox-on+label::before {
	width: 23px;
	background-image: url(../img/checkbox-on.svg);
	opacity: 0.5;
}

.checkbox-block+label, .radio-block+label{
	opacity: 0.35;
}

.filter-maker-item:hover .filter-maker-checkbox+label::before,
.filter-power-item:hover .filter-power-radio+label::before{
	opacity: 1;
}

.filter-power-radio+label::before {
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.svg);
	opacity: 0.5;
}

.radio-on+label::before {
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
	opacity: 0.5;
}

.current-page, .number-of-page, .to-next-page {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	width: 38px;
	height: 38px;
	border: 1px solid var(--special-grey90);
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: var(--basic-black);
}

.current-page {
	cursor: default;
	border: 1px solid var(--basic-red);
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.to-next-page {
	text-transform: uppercase;
	padding-left: 32px;
	padding-right: 31px;
}

.number-of-page:hover:not(.current-page), .to-next-page:hover {
	border-color: var(--basic-greylight);
}

.number-of-page:active:not(.current-page), .to-next-page:active {
	border-color: var(--basic-red);
}



.about-perforator {
	height: 260px;
	background-color: var(--basic-light);
	color: var(--basic-black);
	font-size: 13px;
	line-height: 24px;
}

.about-perforator h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.all-rights-reserved, 
.adress-in-footer,
.phone-in-footer {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.all-rights-reserved {
	font-size: 16px;
line-height: 18px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
